{{ define "main" }}
<article class="markdown book-article">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ $listPath := .RelPermalink }}
  {{ $objectives := where (where .Site.RegularPages "Type" "objectives") "Params.lists" "intersect" (slice $listPath) }}
  {{ $paths := slice }}
  {{ range $objectives }}{{ $paths = $paths | append .RelPermalink }}{{ end }}
  {{ $races := where (where .Site.RegularPages "Type" "activities") "Params.objectives" "intersect" $paths }}

  <table>
    <thead>
      <tr>
        <th>Race</th>
        <th>Distance/M+</th>
      </tr>
    </thead>
    <tbody>
      {{ range $races.ByDate.Reverse }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td>{{ with .Params.distance_km }}{{ . }} km{{ end }}{{ with .Params.elevation_gain_m }} / {{ . }} m+{{ end }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</article>
{{ end }}
