{{- $n := .Get "count" | default 3 -}}
{{- $activities := where site.RegularPages "Type" "activities" -}}
<ul>
{{- range first $n $activities.ByDate.Reverse }}
  {{- $a := . }}
  {{- $obj := site.GetPage (index .Params.objectives 0) }}
  <li>
    <a href="{{ .RelPermalink }}">{{ with $obj }}{{ .Title }}{{ else }}{{ $a.Title }}{{ end }}</a>
    {{- with $obj }}{{ with .Params.elevation }}, {{ lang.FormatNumber 0 . }} m{{ end }}{{ end }}
    {{- if not .Params.success }} (attempt){{ end }}
    <span class="home-date">· {{ .Date.Format "2 January 2006" }}</span>
  </li>
{{- end }}
</ul>
