{{ define "main" }}
<article class="markdown book-article">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ range .Pages.GroupByDate "2006" }}
  <h2>{{ .Key }}</h2>
  <table>
    <thead>
      <tr>
        <th>Activity</th>
        <th>Objective</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Pages.ByDate.Reverse }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ if not .Params.success }} (attempt){{ end }}</td>
        <td>
          {{ range .Params.objectives }}
            {{ with $.Site.GetPage . }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ end }}
</article>
{{ end }}
