{{ define "main" }}
<article class="markdown book-article">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <table>
    <thead>
      <tr>
        <th>Activity</th>
        <th>Objective</th>
        <th>Success</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Pages.ByDate.Reverse }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td>
          {{ range .Params.objectives }}
            {{ with $.Site.GetPage . }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}
          {{ end }}
        </td>
        <td>{{ if .Params.success }}✅{{ else }}❌{{ end }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</article>
{{ end }}
