{{ define "main" }}
<article class="markdown book-article">
  <h1>{{ .Title }}</h1>
  <ul>
    <li><strong>Date:</strong> {{ .Date.Format "2006-01-02" }}</li>
    {{ with .Params.objectives }}
    <li><strong>Objective(s):</strong>
      {{ range . }}
        {{ with $.Site.GetPage . }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}
      {{ end }}
    </li>
    {{ end }}
    {{ with .Params.conditions }}
    <li><strong>Conditions:</strong> {{ . }}</li>
    {{ end }}
    {{ with .Params.route }}
    <li><strong>Route:</strong> {{ . }}</li>
    {{ end }}
    {{ with .Params.category }}<li><strong>Category:</strong> {{ . }}</li>{{ end }}
    {{ with .Params.country }}<li><strong>Country:</strong> {{ . }}</li>{{ end }}
    {{ if .Params.distance_km }}
    <li><strong>Distance/M+:</strong> {{ .Params.distance_km }} km / {{ .Params.elevation_gain_m }} m+</li>
    {{ end }}
    {{ with .Params.endurance_points }}<li><strong>Endurance points:</strong> {{ . }}</li>{{ end }}
    {{ with .Params.gender_ranking }}<li><strong>Gender ranking:</strong> {{ . }}</li>{{ end }}
    {{ with .Params.race_time }}<li><strong>Race time:</strong> {{ . }}</li>{{ end }}
    <li><strong>Summit reached:</strong> {{ if .Params.summit }}Yes{{ else }}No{{ end }}</li>
  </ul>
  {{ .Content }}
</article>
{{ end }}
